.educacao {
    margin-top: 12%;
}

.container-educacao {
    max-width: 1200px;
    margin: 0 auto;
}

.titulo {
    font-size: 55px;   
    text-transform: uppercase;
    font-family: var(--fonte-principal);

    margin-bottom: 5%;
}

.info-section {
    display: flex; 
    gap: 100px; 
    align-items: flex-start; 
}

.info-paragrafo {
    color: var(--cinza-claro);
    font-family: var(--fonte-principal);
    font-size: 16px;

    line-height: 1.4; 
    margin-bottom: 10px; 
    text-align: justify; 
}

/* Primeiro texto e imagem */
.text-and-image {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    flex: 1; 
}


/* Segundo texto */
.extra-info {
    flex: 1;
}


/* CSS - IMAGEM */
.inline-image {
    width: 100%;
    height: auto;
    max-width: 500px; 
}