.educacao {
    margin-top: 18%;
}

.container-educacao {
    max-width: 1200px;
    margin: 0 auto;
}

.titulo {
    font-size: 55px;   
    text-transform: uppercase;
    font-family: var(--fonte-principal);

    margin-bottom: 5%;
}

.info-section {
    display: flex; 
    gap: 100px; 
    align-items: flex-start; 

    margin-bottom: 5%;
}

.info-paragrafo {
    color: var(--cinza-claro);
    line-height: 1.4; 
    margin-bottom: 10px; 
    text-align: justify; 
}

/* Primeiro texto e imagem */
.texto-info-1 {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    flex: 1; 
}

/* Segundo Texto + Li */
.texto-info-2 {
    flex: 1;
}

.info-subtitulo {
    color: var(--cinza-claro);
    margin-top: 5%;
    margin-bottom: 5%;
    
}   .barra-rosa {
        color: var(--rosa);
    }

    .info-guia {
        color: var(--rosa);
        font-size: 14px;
        list-style: none; 
        margin-bottom: 2%;
    }


/* CSS - IMAGEM */
.inline-image {
    width: 100%;
    height: auto;
    max-width: 500px; 
}

/* CSS - Botão Rolamento */
.botao-rolamento-img-2 {
    margin-left: 100%;
    margin-bottom: 10%;
}