.container-estrutura {
    max-width: 1200px;
    margin: 0 auto;
}

.estrutura-titulo {
    font-size: 55px;   
    text-transform: uppercase;
    color: var(--azulado);

    margin-top: 10%;
    margin-bottom: 5%;
}


.info-titulo-estrutura {
    display: flex;
    align-items: center; 
    justify-content: space-between;

    color: var(--azulado);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -1px;
    margin-left: 5%;
    margin-right: 5%; 
}

.info-paragrafo-estrutura {
    color: var(--azulado);
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 14px;
}

/* CSS - Expansão de Conteúdo */
.expand-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    vertical-align: middle; 
}

.extra-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    margin-top: 10px;
    font-size: 16px;
    color: var(--cinza-claro);
    display: block;
    letter-spacing: 1px;
    
}   .extra-content.open {
    max-height: 500px; 
    }

/* Linha Separação */
.line {
    margin-left: 5%;
    margin-bottom: 2%;

    height: 1px;
    width: 90%;
    background-color: var(--cinza-claro);
}